body {
    color: rgb(29, 26, 26);
    background-color: #d9dde4;
    padding-top: 0em;
}

.stButton>button {
    color: #0c0b0b;
    background-color: rgb(27, 97, 226);
}

.reportview-container .main .block-container {
    max-width: 95%;
    padding-top: 0em;
}

/* .sidebar .sidebar-content {
    background-image: linear-gradient(#ecf0f1, #9dcbfa);
    color: rgb(10, 10, 10);
    width: 15em;
    padding-top: 2.5em;
}
 */

.css-1aumxhk {
    background-image: linear-gradient(#ecf0f1, #94b0cc);
    background-attachment: fixed;
    flex-shrink: 0;
    height: 100vh;
    overflow: auto;
    padding: 0rem 0rem;
    position: relative;
    transition: margin-left 300ms ease 0s, box-shadow 300ms ease 0s;
    width: 16rem;
    z-index: 100;
    margin-left: 1px;
}

.st-ah {
    line-height: 1.6;
}

.st-af {
    font-size: .80rem;
}

.css-8xv65a {
    font-size: 0rem;
}
